form{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 50vw;
    font-family: Calibri;
    gap:1vh;
    font-size: 20px;
    margin-left: 25vw;
}

button
{
    height: 5vh;
    font-size: 20px;
}

input[type=text]
{
    height: 5vh;
    font-size: 16px;
}

h1{
  
    font-family: Calibri;
    font-size: 40px;
    margin-left: 25vw;
}